html,body,#container{height:100%;}
#container{min-width:1150px;}
/*header부분 style start*/
header{}
/*header 헤더버튼,search박스*/
header .header_wrap{width:1130px; margin:0 auto; padding:40px 0 0 0; position:relative;}
header .header_wrap .btn_area{position:absolute; right:0; top:0; font-size:0;}
header .header_wrap .btn_area a{display:inline-block; vertical-align:top;}
header .header_wrap .btn_area .startpage{margin:10px 35px 0 0; font-size:11px; color:#404040; text-decoration:none; position:relative;}
header .header_wrap .btn_area .startpage:before{content:''; display:block; width:26px; height:26px; background:url(../images/naver_sprite.png)no-repeat; background-position:-382px -222px; background-size:442px 448px; position:absolute; right:-30px; top:-5px;}
header .header_wrap .btn_area .startpage:hover{text-decoration:underline;}
header .header_wrap .btn_area .junior{width: 60px; height: 10px; margin:13px 0 0 20px; background:url(../images/naver_sprite.png)no-repeat; background-position: -264px -310px; background-size:442px 448px; background-repeat: no-repeat; vertical-align: top; position:relative;}
header .header_wrap .btn_area .junior:before{content:''; display:block; width:1px; height:100%; background:#e4e8eb; position:absolute; left:-12px; top:0;}
header .header_wrap .btn_area .junior:hover{background-position: -326px -310px;}
header .header_wrap .btn_area .happybean{width:34px; height:11px; margin:13px 0 0 15px; background:url(../images/naver_sprite.png)no-repeat; background-position:-365px -257px; background-size:442px 448px;}
header .header_wrap .btn_area .happybean:hover{background-position:-380px -209px;}
header .header_wrap .input_area .logo{float:left; width:222px; height:55px; }
header .header_wrap .input_area .logo .naver_logo{display:block; height:100%; background:url(../images/naver_sprite.png)no-repeat; background-position:0 -165px; background-size:442px 448px;}
header .header_wrap .input_area .input_default{margin:0 0 0 222px; padding:8px 300px 0 20px; box-sizing:border-box;}
header .header_wrap .input_area .input_default .search_area{height:54px; position:relative; border:2px solid #19ce60; padding:0 120px 0 0;}
header .header_wrap .input_area .input_default .search_area input{width:100%; height:100%; border:none; outline:0; box-sizing:border-box; font-size:18px;  padding:10px 20px;}
header .header_wrap .input_area .input_default .search_area .keypad_wrap{position:absolute; right:70px; top:20px; font-size:0;}
header .header_wrap .input_area .input_default .search_area .keypad_wrap .keyboard_area{display:inline-block; margin:1px 0 0 0; font-size:0; width:20px; height:12px; vertical-align: top;}
header .header_wrap .input_area .input_default .search_area .keypad_wrap .keyboard_area .keyboard_btn{display:inline-block; width:100%; height:100%; background:url(../images/naver_sprite.png)no-repeat; background-position: -398px -280px; background-size:442px 448px;}
header .header_wrap .input_area .input_default .search_area .keypad_wrap .keyboard_area:hover .keyboard_btn{background-position: -376px -280px;}
header .header_wrap .input_area .input_default .search_area .keypad_wrap .search_slide_btn{display:inline-block; width:10px; height:5px; margin:5px 0 0 10px; background:url(../images/naver_sprite.png)no-repeat; background-position: -158px -158px; background-size:442px 448px; vertical-align:top;}
header .header_wrap .input_area .input_default .search_area .search_btn{width:54px; height:54px; background:#19ce60; border:none; position:absolute; right:0; top:0; cursor:pointer;}
header .header_wrap .input_area .input_default .search_area .search_btn:before{content:''; display:block; width:22px; height:22px; background:url(../images/naver_sprite.png)no-repeat; background-size:442px 448px; background-position: -420px -24px; position:absolute; left:17px; top:15px;}
/*header nav부분*/
header .nav_wrap{height:52px; border-top:1px solid #e4e8eb; border-bottom:1px solid #e4e8eb; margin:54px 0 0 0; box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);}
header .nav_wrap .nav_area{width:1130px; height:100%; margin:0 auto; display:flex; justify-content: space-between;}
header .nav_wrap .nav_area nav{height:100%;}
header .nav_wrap .nav_area nav .nav_list{height:inherit; display:flex; justify-content: space-between; align-items:center; gap:10px;}
header .nav_wrap .nav_area nav .nav_list .nav_item{}
header .nav_wrap .nav_area nav .nav_list .nav_item .item{font-size:15px; font-weight:700; text-decoration:none; color:#000;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.mail{color:#03c75a; padding:0 0 0 30px; position:relative;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.mail:before{content:''; display:block; width:21px; height:21px; background:url(../images/naver_sprite.png)no-repeat; background-position: -420px -77px; background-size:442px 448px; position:absolute; left:0; top:0px;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.cafe{color:#03c75a;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.blog{color:#03c75a;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.knowledge{color:#03c75a;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.shopping{font-size:0; text-indent:-9999px;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.shopping:before{content:''; display:inline-block; vertical-align:top; margin:1px 0 0 0; width:24px; height:20px; background:url(../images/naver_sprite.png)no-repeat; background-position: -76px -405px; background-size:442px 448px;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.shop_live{font-size:0; text-indent:-9999px;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.shop_live:before{content:''; display:inline-block; vertical-align:top; margin:1px 0 0 0; width:54px; height:20px; background:url(../images/naver_sprite.png)no-repeat; background-position: -209px -281px; background-size:442px 448px;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.pay{color:#03c75a;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.tv{color:#03c75a; padding:0 0 0 20px; position:relative;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.tv:before{content:''; display:block; width:12px; height:14px; background:url(../images/naver_sprite.png)no-repeat; background-position: -256px -212px; background-size:442px 428px; position:absolute; left:0; top:3px;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.morebtn{font-size:13px; font-weight:400; padding:0 17px 0 0; position:relative;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item:hover{text-decoration:underline;}
header .nav_wrap .nav_area nav .nav_list .nav_item .item.morebtn:before{content:''; display:block; width:11px; height:7px; background:url(../images/naver_sprite.png)no-repeat;  background-position: -402px -296px; background-size:442px 428px; position:absolute; right:0; top:5px;}
header .nav_wrap .nav_area .weather{width:240px; height:52px;}

/*main 영역잡기*/
main{width:1130px; margin:0 auto; padding:20px 405px 20px 25px; box-sizing:border-box; position:relative;}
main:after{content:''; display:block; clear:both;}
/*main left 부분*/
main .main_left{width:100%;}
main .main_left .main_banner_area{height:136px; border: 1px solid #dae1e6; box-sizing:border-box;}
main .main_left .main_banner_area .vd_img{display:block; height:100%;}
main .main_left .main_banner_area .vd_img img{width:100%; height:100%;}
main .main_left .yh_news_area{min-height:49px; padding:12px 200px 11px 15px; margin:12px 0 0 0; background:#f7f9fa; border: 1px solid #dae1e6; box-sizing:border-box; position:relative;}
main .main_left .yh_news_area .left_news{padding:4px 0 0 0; font-size:0;}
main .main_left .yh_news_area .left_news .news_title{display:inline-block; padding:0 13px 0 0; font-size:13px; font-weight:700; color:#000; text-decoration: none; position:relative;}
main .main_left .yh_news_area .left_news .news_title:before{content:''; display:block; width:6px; height:10px; background:url(../images/naver_sprite.png)no-repeat;  background-position: -262px -112px; background-size:442px 428px; position:absolute; right:0; top:4px;}
main .main_left .yh_news_area .left_news .news_info{display:inline-block; height:22px; overflow:hidden; vertical-align:top; margin:0 0 0 5px;}
main .main_left .yh_news_area .left_news .news_info .news_list{}
main .main_left .yh_news_area .left_news .news_info .news_list .news_item{margin:0 0 5px 0;}
main .main_left .yh_news_area .left_news .news_info .news_list .news_item:hover .item{text-decoration: underline;}
main .main_left .yh_news_area .left_news .news_info .news_list .news_item .item{display:block; max-width:300px; font-size:13px; text-decoration:none; color:#000; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
main .main_left .yh_news_area .right_news{position:absolute; right:15px; top:17px;} 
main .main_left .yh_news_area .right_news nav{font-size:0; }
main .main_left .yh_news_area .right_news nav .news_tab{display:inline-block; margin:0 0 0 15px; font-size:13px; font-weight:700; color:#202020; text-decoration:none; position:relative;}
main .main_left .yh_news_area .right_news nav .news_tab:first-child{margin-left:0;}
main .main_left .yh_news_area .right_news nav .news_tab:first-child:before{content:''; display:block; width:3px; height:3px; background:#c8ccd1; border-radius:100%; position:absolute; right:-8px; top:9px;}
main .main_left .yh_news_area .right_news nav .news_tab.on{color:#3565c9;}

main .main_left .new_stand_area{min-height:49px; margin:12px 0 0 0; box-sizing:border-box; }
main .main_left .new_stand_area .stand_tab{padding:12px 200px 11px 0; position:relative;;}
main .main_left .new_stand_area .left_stand{padding:4px 0 0 0; font-size:0;}
main .main_left .new_stand_area .left_stand .news_title{display:inline-block; padding:0 13px 0 30px; font-size:14px; font-weight:700; color:#000; text-decoration: none; position:relative;}
main .main_left .new_stand_area .left_stand .news_title:before{content:''; display:block; width:6px; height:10px; background:url(../images/naver_sprite.png)no-repeat;  background-position: -262px -112px; background-size:442px 428px; position:absolute; right:0; top:4px;}
main .main_left .new_stand_area .left_stand .news_title:after{content:''; display:block; width:27px; height:24px; background:url(../images/naver_sprite.png)no-repeat;  background-position: -272px -342px; background-size:442px 428px; position:absolute; left:0; top:-7px;}
main .main_left .new_stand_area .left_stand .stand_nav{display:inline-block; padding:0 0 0 10px;}
main .main_left .new_stand_area .left_stand .stand_nav nav{font-size:0; }
main .main_left .new_stand_area .left_stand .stand_nav nav .nav_btn{display:inline-block; font-size:14px; color:#505050; text-decoration:none;}
main .main_left .new_stand_area .left_stand .stand_nav nav .nav_btn.on{font-weight:700; color:#000;}
main .main_left .new_stand_area .left_stand .stand_nav nav .bar{display:inline-block; width:4px; height:4px; background:#c7ccd1; border-radius:100%; vertical-align:top; margin:8px 10px 0 10px;}
main .main_left .new_stand_area .right_stand{position:absolute; right:15px; top:17px;} 
main .main_left .new_stand_area .right_stand nav{font-size:0; }
main .main_left .new_stand_area .right_stand nav a{display:inline-block; margin:0 0 0 15px; text-decoration:none; position:relative;}
main .main_left .new_stand_area .right_stand nav a:hover{opacity:1;}
main .main_left .new_stand_area .right_stand nav .view_icon{width: 14px; height: 13px; margin:1px 0 0 0; background:url(../images/naver_sprite.png)no-repeat; background-position: -244px -310px; background-size:442px 428px; vertical-align: top; opacity: .7;}
main .main_left .new_stand_area .right_stand nav .view_icon.on{opacity:1 !important; background-position: -260px -310px;}
main .main_left .new_stand_area .right_stand nav .menu_icon{width: 13px; height: 13px; margin-top:1px; background:url(../images/naver_sprite.png)no-repeat; background-position: -291px -310px; background-size:442px 428px; vertical-align: top; opacity: .7;}
main .main_left .new_stand_area .right_stand nav .menu_icon.on{opacity:1 !important; background-position: -276px -310px;}
main .main_left .new_stand_area .right_stand nav .set_icon{width: 15px; height: 15px; background:url(../images/naver_sprite.png)no-repeat; background-position: -102px -386px; background-size:442px 428px; vertical-align: top; opacity: .7;}
main .main_left .new_stand_area .stand_content{position:relative;}
main .main_left .new_stand_area .stand_content .content_list{display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; border-right:1px solid #dae1e6; border-bottom:1px solid #dae1e6;}
main .main_left .new_stand_area .stand_content .content_list .content_item{min-height:65px; background:#fff; text-align:center; border-top:1px solid #dae1e6; border-left:1px solid #dae1e6; box-sizing:border-box;}
main .main_left .new_stand_area .stand_content .content_list .content_item .item{display:inline-block; width:100%; height:100%; }
main .main_left .new_stand_area .stand_content .content_list .content_item .item img{display:inline-block; height:20px; vertical-align:top; margin:22px 0 0 0;}
main .main_left .new_stand_area .stand_content .left_slide{display:block; width:44px; height:44px; background:url(../images/naver_sprite.png)no-repeat; background-position: -224px -166px; background-size:442px 448px; position:absolute; left:0; top:50%; margin:-22px 0 0 -22px;}
main .main_left .new_stand_area .stand_content .right_slide{display:block; width:44px; height:44px; background:url(../images/naver_sprite.png)no-repeat; background-position: -92px -311px; background-size:442px 448px; position:absolute; right:0; top:50%; margin:-22px -22px 0 0;}
main .main_left .new_stand_area .stand_content{padding:4px 0 0 0; font-size:0;}
.main-reads{
	margin-top: 30px;
}

.main-reads-title{
	width:100%;;
	display: flex;
	justify-content: space-between;
}

.main-reads-title-text{
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 14px;
	font-weight: normal;
	color: #777;
}

.main-reads-title-text-b{
	font-weight: bold;
	font-size: 16px;
	color: #222;
}

.main-reads-title-set{
	display: flex;
	gap: 10px;
	align-items: center;
	box-sizing: border-box;
}

.set-1st{
	font-size: 14px;
	display: flex;
	gap: 3px;
	color: #777;
}

.set-2nd{
	font-size: 14px;
	display: flex;
	gap: 3px;
	color: #777;
	align-items: center;
}

.set-1st-main-text{
	font-weight: bold;
	color: #222;
}

.set-2nd-icon{
	background: url('../img/naver_sprites_01.png') no-repeat -332px -310px;
	background-size: 442px 428px;
	width: 11px;
	height: 11px;
}

.set-line > span{
	color: #aaa;
	font-size: 14px;
}

.main-contents{
	width:100%;;
	margin-top: 15px;
	z-index: 0;
}

.main-contents-tap{
	width:100%;;
	overflow: hidden;
}

.main-contents-tap-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	
}

.tap-column-item{
	width: 97.5px;
	height: 50px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

.tap-grid-text, .tap-grid-text-r{
	width: 97.5px;
	height: 50px;
	text-align: center;
	padding: 15px 0;
	box-sizing: border-box;
}

.tap-grid-text-r{
	background-color: #e65da0;
}

.tap-grid-text a {
	color: #222;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.tap-grid-text-r a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.main-contents-enter{
	width:100%;;
	padding: 20px 0;
	display: flex;
	gap: 20px;
}

.main-contents-enter-1st{
	width: 390px;
}

.main-contents-enter-1st img{
	width: 380px;
}

.main-contents-enter-2nd{
	width: 50%;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}



.enter-2nd-contents{

}

.enter-2nd-contents a{
	display: flex;
	gap: 20px;
}

.enter-2nd-contents img{
	width: 110px;
}

.main-contents-enter a{
	text-decoration: none;
}

.main-contents-enter a > div:last-child{
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-top: 15px;
}

.enter-text-main{
	font-size: 14px;
	font-weight: bold;
	color: #e65da0;
	display: inline-block;
	position: relative;
}

.enter-text-b{
	font-size: 15px;
	font-weight: bold;
	color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.enter-text-detail{
	font-size: 14px;
	font-weight: normal;
	color: #555;
}

.main-enter-home{
	width:100%;;
	display: flex;
	flex-direction: column;
}

.enter-home-bar{
	display: flex;
	flex-direction: row;
	align-content: center;
	gap: 20px;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	width:100%;;
	height: 50px;
	padding: 15px 20px;
	box-sizing: border-box;
}

.enter-line{
	border-left: 1px solid #666;
}

.enter-bar-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 25px;
}

.enter-home a{
	text-decoration: none;
	color: #e65da0;
	font-size: 14px;
	font-weight: bold;
}

.enter-bar-menu a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #222;
}

.enter-gallery{
	width:100%;;
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	box-sizing: border-box;
	padding-top: 20px;
}

.enter-column-item{
	width: 100%;
}

.enter-gallery-grid{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-decoration: none;
}

.enter-gallery-grid div:first-child{
	width: 100%;
	height: 120px;
	overflow: hidden;
}

.enter-gallery-grid img{
	width: 100%;
}

.enter-gallery-grid:hover img{
	transform: scale(1.05);
	transition: 0.3s;
}

.enter-gallery-grid div:nth-child(2){
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.enter-gallery-grid div:nth-child(2) div:last-child{
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.enter-text-detail-2nd{
	font-size: 14px;
	font-weight: normal;
	color: #888;
}


.enter-gallery-grid:hover .enter-text-b{
	text-decoration: underline;
}

.enter-text-ad{
	display: inline-block;
	background: url('../img/naver_sprites_03.png') no-repeat 0 -20px;
	background-size: 100px 90px;
	width: 42px;
	height: 16px;
	vertical-align: top;
	margin-left: 10px;
}

/*main right 부분*/
main .main_right{position:absolute; right:25px; top:20px; width:350px;}
.right_area{}
.right_area .form_area{padding:16px 16px 12px 17px; background:#f7f9fa; border: 1px solid #dae1e6;}
.right_area .form_area form{}
.right_area .form_area form .title{font-size:12px; font-weight:400; color:grey; margin:0 0 10px 0; letter-spacing:-0.25px;}
.right_area .form_area form .login_btn{display:block; width:100%; line-height:48px; background:#19ce60; text-align:center; text-decoration:none;}
.right_area .form_area form .login_btn .txt{padding:0 0 0 65px; font-size:13px; font-weight:700; color:#fff; position:relative;}
.right_area .form_area form .login_btn .txt:before{content:''; display:block; width:60px; height:12px; background:url(../images/naver_sprite.png)no-repeat;  background-position: -202px -296px; background-size:442px 428px; position:absolute; left:0; top:3px;}
.right_area .form_area form .sub_form_area{margin:10px 0 0 0;}
.right_area .form_area form .sub_form_area:after{content:''; display:block; clear:both;}
.right_area .form_area form .sub_form_area .sub_left{float:left;}
.right_area .form_area form .sub_form_area .sub_left .id{display:inline-block; padding:0 0 0 15px; font-size:12px; font-weight:400; color:#404040; text-decoration:none; position:relative;}
.right_area .form_area form .sub_form_area .sub_left .id:before{content:''; display:block; width:10px; height:14px; background:url(../images/naver_sprite.png)no-repeat;  background-position: -408px -55px; background-size:442px 428px; position:absolute; left:0; top:1px;}
.right_area .form_area form .sub_form_area .sub_left .pw{display:inline-block; padding:0 0 0 10px; font-size:12px; font-weight:400; color:#404040; text-decoration:none; position:relative;}
.right_area .form_area form .sub_form_area .sub_left .pw:before{content:''; display:block; width:3px; height:3px; margin:-1.5px 0 0 0; background:#d7dce0; position:absolute; left:0; top:50%; border-radius:100%;}
.right_area .form_area form .sub_form_area .sub_right{float:right;}
.right_area .form_area form .sub_form_area .sub_right .join{display:inline-block; padding:0 0 0 15px; font-size:12px; font-weight:400; color:#404040; text-decoration:none; position:relative;}
.right_area .form_area form .sub_form_area .sub_right .join:before{content:''; display:block; width:11px; height:11px; background:url(../images/naver_sprite.png)no-repeat;  background-position: -401px -245px; background-size:442px 428px; position:absolute; left:0; top:3px;}
.right_area .economy_area{padding:16px 67px 16px 16px; margin:12px 0; background:#f7f9fa; border: 1px solid #dae1e6; position:relative;}
.right_area .economy_area .txt_economy{padding:0 0 0 0; }
.right_area .economy_area .txt_economy .issue_con{display:block; padding:0 0 0 45px; position:relative; text-decoration:none; font-size:0;}
.right_area .economy_area .txt_economy .issue_con .issue{display:inline-block; padding:2px 6px; position:absolute; left:0; top:50%; transform:translate(0,-50%); border:1px solid #202020; border-radius:10px; box-sizing:border-box; font-size:11px; font-weight:700; color:#202020;}
.right_area .economy_area .txt_economy .issue_con .title{display:inline-block; font-size:13px; color:#404040; }
.right_area .economy_area .arrow_area{position:absolute; right:10px; top:14px; font-size:0; }
.right_area .economy_area .arrow_area a{display:inline-block; min-width:24px; min-height:24px; background:#fff; border: 1px solid #e4e8eb; box-sizing:border-box; position:relative;}
.right_area .economy_area .arrow_area a:hover{background:#fafbfc;}
.right_area .economy_area .arrow_area .left_arrow{border-right:none; }
.right_area .economy_area .arrow_area .left_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -162px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.right_area .economy_area .arrow_area .right_arrow{}
.right_area .economy_area .arrow_area .right_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -146px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.right_area .banner_wrap{height:200px; margin:0 0 15px 0; cursor:pointer;}
.right_area .banner_wrap .banner{width:100%;}
.right_area .shop_wrap{position:relative;}
.right_area .shop_wrap .shop_nav{padding:12px 0 13px 0;}
.right_area .shop_wrap .shop_nav:after{content:''; display:block; clear:both;}
.right_area .shop_wrap .shop_nav .title{float:left;}
.right_area .shop_wrap .shop_nav .title a{display:block; padding:0 0 0 19px; text-decoration:none; position:relative; font-size:0;}
.right_area .shop_wrap .shop_nav .title a:hover .txt{text-decoration: underline;}
.right_area .shop_wrap .shop_nav .title a:before{content:''; display:block; width:15px; height:15px; background:url(../images/naver_sprite2.png)no-repeat; background-position: -109px -22px; background-size:129px 101px; position:absolute; left:0; top:2px;}
.right_area .shop_wrap .shop_nav .title a .txt{display:inline-block; font-size:13px; font-weight:700; color:#202020; vertical-align:top;}
.right_area .shop_wrap .shop_nav .title a .arrow{display:inline-block; text-indent:-9999px; width:5px; height:9px; background:url(../images/naver_sprite2.png)no-repeat; background-position: -109px -49px; background-size:129px 101px; vertical-align:top; margin:5px 0 0 6px;}
.right_area .shop_wrap .shop_nav .nav_tab{float:right;}
.right_area .shop_wrap .shop_nav .nav_tab .tab_list{font-size:0; }
.right_area .shop_wrap .shop_nav .nav_tab .tab_list .tab_item{display:inline-block; margin:0 0 0 10px;}
.right_area .shop_wrap .shop_nav .nav_tab .tab_list .tab_item .item{font-size:13px; font-weight:700; color:#202020; text-decoration: none;}
.right_area .shop_wrap .shop_nav .nav_tab .tab_list .tab_item .item.on{color:#03c75a; padding:0 0 3px 0; border-bottom:2px solid #19ce60; }
.right_area .shop_wrap .shop_area{border: 1px solid #e4e8eb; box-sizing:border-box;}
.right_area .shop_wrap .shop_area .shop_header{background:#f7f9fa; padding:10px 7px 0 15px; box-sizing:border-box; border-bottom:1px solid #e4e8eb;}
.right_area .shop_wrap .shop_area .shop_header .head_shop_list{}
.right_area .shop_wrap .shop_area .shop_header .head_shop_list:after{content:''; display:block; clear:both;}
.right_area .shop_wrap .shop_area .shop_header .head_shop_list li{float:left;}
.right_area .shop_wrap .shop_area .shop_header .head_shop_list .head_shop_item{margin-bottom:10px;}
.right_area .shop_wrap .shop_area .shop_header .head_shop_list .head_shop_item .item{display:block; font-size:12px; color:#202020; text-decoration:none;}
.right_area .shop_wrap .shop_area .shop_header .head_shop_list .head_shop_item .item:hover{text-decoration:underline;}
.right_area .shop_wrap .shop_area .shop_header .head_shop_list .radio{width:3px; height:3px; margin:7px 8px 0 8px; background:#c9cccf; border-radius:100%;}

/*content_1*/
.contents_1{}
.contents_1 .paging_area{padding:10px 10px;}
.contents_1 .paging_area:after{content:''; display:block; clear:both;}
.contents_1 .paging_area .paging_default{float:right; font-size:0;}
.contents_1 .paging_area .paging_default .num{display:inline-block; font-size:12px; color:grey; vertical-align:top; margin:6px 10px 0 0;}
.contents_1 .paging_area .paging_default .num .bold{font-weight:700; color:#000;}
.contents_1 .paging_area .paging_default .arrow_area{display:inline-block; font-size:0;}
.contents_1 .paging_area .paging_default .arrow_area a{display:inline-block; min-width:29px; min-height:29px; background:#fff; border: 1px solid #e4e8eb; box-sizing:border-box; position:relative;}
.contents_1 .paging_area .paging_default .arrow_area a:hover{background:#fafbfc;}
.contents_1 .paging_area .paging_default .arrow_area .left_arrow{border-right:none;}
.contents_1 .paging_area .paging_default .arrow_area .left_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -162px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_1 .paging_area .paging_default .arrow_area .right_arrow{}
.contents_1 .paging_area .paging_default .arrow_area .right_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -146px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_1 .contents_main{padding:0 7.5px;}
.contents_1 .contents_main .main_shop_list{}
.contents_1 .contents_main .main_shop_list:after{content:''; display:block; clear:both;}
.contents_1 .contents_main .main_shop_list .main_shop_item{float:left; width:33.3333%; padding:0 2.5px; margin:0 0 10px 0; box-sizing:border-box;}
.contents_1 .contents_main .main_shop_list .main_shop_item:hover .img_area img{transform:scale(1.05);}
.contents_1 .contents_main .main_shop_list .main_shop_item:hover .item .txt_area .title{text-decoration: underline;}
.contents_1 .contents_main .main_shop_list .main_shop_item:hover .item .txt_area .info{text-decoration: underline;}
.contents_1 .contents_main .main_shop_list .main_shop_item .item{display:block; text-decoration:none;}
.contents_1 .contents_main .main_shop_list .main_shop_item .item .img_area{width:100%; height:144px; overflow:hidden;} 
.contents_1 .contents_main .main_shop_list .main_shop_item .item .img_area img{width:100%; image-rendering: -webkit-optimize-contrast; transition:all 0.1s;}
.contents_1 .contents_main .main_shop_list .main_shop_item .item .txt_area{text-align:center; line-height:1.4; margin:5px 0 0 0;}
.contents_1 .contents_main .main_shop_list .main_shop_item .item .txt_area .title{font-size:12px; font-weight:700; color:#202020;}
.contents_1 .contents_main .main_shop_list .main_shop_item .item .txt_area .info{font-size:12px; color:#202020;}
.contents_1 .paging_area2{padding:10px 10px;}
.contents_1 .paging_area2:after{content:''; display:block; clear:both;}
.contents_1 .paging_area2 .paging_default{font-size:0; text-align:center;}
.contents_1 .paging_area2 .paging_default .arrow_area{display:inline-block; font-size:0;}
.contents_1 .paging_area2 .paging_default .arrow_area a{display:inline-block; min-width:29px; min-height:29px; background:#fff; border: 1px solid #e4e8eb; box-sizing:border-box; position:relative;}
.contents_1 .paging_area2 .paging_default .arrow_area a:hover{background:#fafbfc;}
.contents_1 .paging_area2 .paging_default .arrow_area .left_arrow{}
.contents_1 .paging_area2 .paging_default .arrow_area .left_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -162px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_1 .paging_area2 .paging_default .arrow_area .right_arrow{}
.contents_1 .paging_area2 .paging_default .arrow_area .right_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -146px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_1 .paging_area2 .paging_default .arrow_area .num{display:inline-block; font-size:12px; color:grey; vertical-align:top; margin:6px 15px 0 15px;}
.contents_1 .paging_area2 .paging_default .arrow_area .num .bold{font-weight:700; color:#000;}
/*content_2*/
.contents_2{margin:0 7.5px; padding:19px 0 17px; border-top: 1px solid #e4e8eb; border-bottom: 1px solid #e4e8eb;}
.contents_2 .title_area{min-height:29px; padding:0 100px 0 5px; position:relative;}
.contents_2 .title_area .title{display:inline-block; vertical-align:top; margin:5px 0 0 0; font-size:13px; font-weight:700;}
.contents_2 .title_area .paging_area{position:absolute; right:0; top:0;}
.contents_2 .title_area .paging_area .paging_default{font-size:0;}
.contents_2 .title_area .paging_area .paging_default .num{display:inline-block; font-size:12px; color:grey; vertical-align:top; margin:6px 10px 0 0;}
.contents_2 .title_area .paging_area .paging_default .num .bold{font-weight:700; color:#000;}
.contents_2 .title_area .paging_area .paging_default .arrow_area{display:inline-block; font-size:0;}
.contents_2 .title_area .paging_area .paging_default .arrow_area a{display:inline-block; min-width:29px; min-height:29px; background:#fff; border: 1px solid #e4e8eb; box-sizing:border-box; position:relative;}
.contents_2 .title_area .paging_area .paging_default .arrow_area a:hover{background:#fafbfc;}
.contents_2 .title_area .paging_area .paging_default .arrow_area .left_arrow{border-right:none;}
.contents_2 .title_area .paging_area .paging_default .arrow_area .left_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -162px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_2 .title_area .paging_area .paging_default .arrow_area .right_arrow{}
.contents_2 .title_area .paging_area .paging_default .arrow_area .right_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -146px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_2 .info_area{margin:10px 0 0 0;}
.contents_2 .info_area .info_list{}
.contents_2 .info_area .info_list .info_item{margin:0 0 5px 0;}
.contents_2 .info_area .info_list .info_item .item{padding:0 0 0 12px; text-decoration:none; position:relative;}
.contents_2 .info_area .info_list .info_item .item:before{content:''; display:block; width:4px; height:4px; background:#1ace61; border-radius:100%; position:absolute; left:0; top:50%;}
.contents_2 .info_area .info_list .info_item .item:hover .title_info{text-decoration: underline;}
.contents_2 .info_area .info_list .info_item .item:hover .info{text-decoration: underline;}
.contents_2 .info_area .info_list .info_item .item .title_info{display:inline-block; font-size:12px; font-weight:700; margin:0 13px 0 0; color:#000;}
.contents_2 .info_area .info_list .info_item .item .info{display:inline-block; font-size:12px; color:#000;}
/*content_3*/
.contents_3{margin:0 7.5px; padding:19px 0 17px; border-bottom: 1px solid #e4e8eb;}
.contents_3 .title_area{min-height:29px; padding:0 100px 0 5px; position:relative;}
.contents_3 .title_area .nav_tab{}
.contents_3 .title_area .nav_tab .tab_list{padding:5px 0 0 0; font-size:0;}
.contents_3 .title_area .nav_tab .tab_list .tab_item{display:inline-block; margin:0 0 0 10px;}
.contents_3 .title_area .nav_tab .tab_list .tab_item:first-child{margin:0 0 0 0;}
.contents_3 .title_area .nav_tab .tab_list .tab_item .item{font-size:13px; font-weight:400; color:#202020; text-decoration: none;}
.contents_3 .title_area .nav_tab .tab_list .tab_item .item.on{color:#03c75a; padding:0 0 3px 0; border-bottom:2px solid #19ce60; }
.contents_3 .title_area .paging_area{position:absolute; right:0; top:0;}
.contents_3 .title_area .paging_area .paging_default{font-size:0;}
.contents_3 .title_area .paging_area .paging_default .num{display:inline-block; font-size:12px; color:grey; vertical-align:top; margin:6px 10px 0 0;}
.contents_3 .title_area .paging_area .paging_default .num .bold{font-weight:700; color:#000;}
.contents_3 .title_area .paging_area .paging_default .arrow_area{display:inline-block; font-size:0;}
.contents_3 .title_area .paging_area .paging_default .arrow_area a{display:inline-block; min-width:29px; min-height:29px; background:#fff; border: 1px solid #e4e8eb; box-sizing:border-box; position:relative;}
.contents_3 .title_area .paging_area .paging_default .arrow_area a:hover{background:#fafbfc;}
.contents_3 .title_area .paging_area .paging_default .arrow_area .left_arrow{border-right:none;}
.contents_3 .title_area .paging_area .paging_default .arrow_area .left_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -162px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_3 .title_area .paging_area .paging_default .arrow_area .right_arrow{}
.contents_3 .title_area .paging_area .paging_default .arrow_area .right_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -146px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_3 .contents_sub{margin:10px 0 0 0;}
.contents_3 .contents_sub .sub_shop_list{}
.contents_3 .contents_sub .sub_shop_list:after{content:''; display:block; clear:both;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item{float:left; width:50%; box-sizing:border-box;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item:first-child{padding-right:2.5px;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item:last-child{padding-left:2.5px;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item:hover .img_area img{transform:scale(1.05);}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item:hover .item .txt_area .title{text-decoration: underline;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item:hover .item .txt_area .info{text-decoration: underline;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item .item{display:block; text-decoration:none;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item .item .img_area{width:100%; height:144px; overflow:hidden;} 
.contents_3 .contents_sub .sub_shop_list .sub_shop_item .item .img_area img{width:100%; image-rendering: -webkit-optimize-contrast; transition:all 0.1s;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item .item .txt_area{text-align:center; line-height:1.4; margin:5px 0 0 0;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item .item .txt_area .title{font-size:12px; font-weight:700; color:#202020;}
.contents_3 .contents_sub .sub_shop_list .sub_shop_item .item .txt_area .info{font-size:12px; color:#202020;}
/*content_4*/
.contents_4{margin:0 7.5px; padding:19px 0 17px;}
.contents_4 .title_area{min-height:29px; padding:0 100px 0 5px; position:relative;}
.contents_4 .title_area .title{display:inline-block; vertical-align:top; margin:5px 0 0 0; font-size:13px; font-weight:700;}
.contents_4 .title_area .title .title_logo{display: inline-block; width: 40px; height: 21px; background:url(../images/naver_sprite2.png)no-repeat; background-size:129px 101px; background-position: 0 -54px; margin:-2px 7px 0 0; vertical-align:top;}
.contents_4 .title_area .paging_area{position:absolute; right:0; top:0;}
.contents_4 .title_area .paging_area .paging_default{font-size:0;}
.contents_4 .title_area .paging_area .paging_default .num{display:inline-block; font-size:12px; color:grey; vertical-align:top; margin:6px 10px 0 0;}
.contents_4 .title_area .paging_area .paging_default .num .bold{font-weight:700; color:#000;}
.contents_4 .title_area .paging_area .paging_default .arrow_area{display:inline-block; font-size:0;}
.contents_4 .title_area .paging_area .paging_default .arrow_area a{display:inline-block; min-width:29px; min-height:29px; background:#fff; border: 1px solid #e4e8eb; box-sizing:border-box; position:relative;}
.contents_4 .title_area .paging_area .paging_default .arrow_area a:hover{background:#fafbfc;}
.contents_4 .title_area .paging_area .paging_default .arrow_area .left_arrow{border-right:none;}
.contents_4 .title_area .paging_area .paging_default .arrow_area .left_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -162px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_4 .title_area .paging_area .paging_default .arrow_area .right_arrow{}
.contents_4 .title_area .paging_area .paging_default .arrow_area .right_arrow:before{content:''; display:block; width:6px; height:9px; background:url(../images/naver_sprite.png)no-repeat; background-position: -146px -327px; background-size:442px 428px; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -3px;}
.contents_4 .oneplus_area{margin:10px 0 0 0;}
.contents_4 .oneplus_area .oneplus_list{}
.contents_4 .oneplus_area .oneplus_list .oneplus_item{margin:0 0 15px 0;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item:last-child{margin-bottom:0;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item{display:block; min-height:62px; text-decoration:none;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item:hover .txt_area .info{text-decoration: underline;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item:hover .txt_area .price{text-decoration: underline;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .img_area{float:left; font-size:0;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .img_area .left_img{display:inline-block; width:85px; height:60px; border-radius:4px; overflow:hidden; border:1px solid rgba(0,0,0,0.1); position:relative;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .img_area .left_img img{width:100%; height:100%;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .img_area .left_img:before{content:''; display:block; width: 30px; height: 15px; background:url(../images/naver_sprite2.png)no-repeat; background-position: -42px -54px; background-size: 129px 101px; position:absolute; left:0; top:0;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .img_area .right_img{display:inline-block; width:60px; height:60px; border-radius:4px; border:1px solid rgba(0,0,0,0.1); margin:0 0 0 10px; position:relative; z-index:0; vertical-align:top;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .img_area .right_img img{width:100%; height:100%;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .img_area .right_img:before{content:''; display:block; width: 20px; height: 20px; background:url(../images/naver_sprite2.png)no-repeat; background-position: -109px 0; background-size: 129px 101px; position: absolute; top: 20px; left: -15px; z-index:1;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .txt_area{margin:0 0 0 159px; padding:0 0 0 10px;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .txt_area .info{font-size:12px; font-weight:500; color:#202020; overflow:hidden; text-overflow: ellipsis; word-wrap: break-word; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .txt_area .price{font-size:12px; font-weight:700; color:#202020; margin:5px 0 0 0;}
.contents_4 .oneplus_area .oneplus_list .oneplus_item .item .txt_area .price .red{color:#f04045; margin:0 5px 0 0;}
/*footer style start*/
footer{padding:0 0 92px 0; background:#fafbfc; border-top: 1px solid #e4e8eb; box-sizing:border-box;}
footer .footer_wrap{width:1130px; margin:0 auto;}
footer .footer_wrap .footer_area{}
footer .footer_wrap .footer_area .foot_banner{padding:20px 0; border-bottom: 1px solid #e4e8eb;}
footer .footer_wrap .footer_area .foot_banner .banner_list{display:flex; justify-content: space-between; gap:40px;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item{cursor:pointer;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item:after{content:''; display:block; clear:both;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item .img_area{float:left; width:160px; height:86px; box-sizing:border-box; border: 1px solid #e4e8eb; overflow:hidden;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item .img_area img{width:100%; -webkit-transition:all 0.3s; image-rendering: -webkit-optimize-contrast;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item .txt_area{margin:0 0 0 160px; padding:2px 0 0 16px;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item .txt_area .title{font-size:12px; font-weight:700; color:#58c464;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item .txt_area .title_info{font-size:12px; font-weight:700; color:#242424; margin:6px 0 0 0;}
footer .footer_wrap .footer_area .foot_banner .banner_list .banner_item .txt_area .info{font-size:12px; font-weight:500; line-height: 18px; color:#424242; margin:8px 0 0 0;}
footer .footer_wrap .footer_area .anno{padding:15px 0; border-bottom: 1px solid #e4e8eb;}
footer .footer_wrap .footer_area .anno:after{content:''; display:block; clear:both;}
footer .footer_wrap .footer_area .anno .anno_title{float:left; font-size:12px; font-weight:700; }
footer .footer_wrap .footer_area .anno .service_all{float:right; padding:0 20px 0 0; display:block; font-size:12px; font-weight:700; color:#000; text-decoration:none; position:relative;}
footer .footer_wrap .footer_area .anno .service_all:before{content:''; display:block; width:8px; height:12px; background:url(../images/naver_sprite.png)no-repeat; background-position: -408px -110px; background-size: 442px 428px; position:absolute; right:0; top:2.5px;}
footer .footer_wrap .footer_area .credit{padding:20px 440px 20px 0; border-bottom: 1px solid #e4e8eb; position:relative;}
footer .footer_wrap .footer_area .credit .credit_left{}
footer .footer_wrap .footer_area .credit .credit_left dl{margin:0 0 5px 0; padding:0 0 0 80px; position:relative; font-size:0;}
footer .footer_wrap .footer_area .credit .credit_left dl:last-child{margin:0;}
footer .footer_wrap .footer_area .credit .credit_left dl:last-child dd{margin:0;}
footer .footer_wrap .footer_area .credit .credit_left dl dt{max-width:65px; position:absolute; left:0; top:0px; font-size:12px; font-weight:700; cursor:pointer; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
footer .footer_wrap .footer_area .credit .credit_left dl dd{display:inline-block; margin:0 0 10px 0; font-size:12px; color:#777; position:relative; padding:0 10px; cursor:pointer;}
footer .footer_wrap .footer_area .credit .credit_left dl dd:hover{text-decoration:underline;}
footer .footer_wrap .footer_area .credit .credit_left dl dd:nth-child(2){padding-left:0;}
footer .footer_wrap .footer_area .credit .credit_left dl dd:nth-child(2):before{display:none;}
footer .footer_wrap .footer_area .credit .credit_left dl dd:before{content:''; display:block; width:1px; height:12px; background:#e4e8eb; position:absolute; left:0; top:3px;}
footer .footer_wrap .footer_area .credit .credit_right{position:absolute; right:50px; top:50%; margin:-27.5px 0 0 0;/*transform: translate(0 , -50%);*/}
footer .footer_wrap .footer_area .credit .credit_right .small_banner{display:inline-block; margin:0 50px 0 0; font-size:0;}
footer .footer_wrap .footer_area .credit .credit_right .small_banner .txt_area{display:inline-block; margin:0 15px 0 0; vertical-align:top;}
footer .footer_wrap .footer_area .credit .credit_right .small_banner .txt_area .title{font-size:12px; font-weight:700; color:#202020; margin:10px 0 0 0;}
footer .footer_wrap .footer_area .credit .credit_right .small_banner .txt_area .btn{display:block; font-size:12px; text-decoration:none; color:grey;}
footer .footer_wrap .footer_area .credit .credit_right .small_banner .img_area{display:inline-block; width:48px; height:48px;}
footer .footer_wrap .footer_area .credit .credit_right .small_banner .img_area .img{display:block; width:100%;height:100%;}
footer .footer_wrap .footer_area .credit .credit_right .small_banner .img_area .img img{width:100%;}
footer .footer_wrap .footer_area .copyright{padding:25px 0 0 0; }
footer .footer_wrap .footer_area .copyright .copy_list{font-size:0; }
footer .footer_wrap .footer_area .copyright .copy_list .copy_item{display:inline-block; margin:0 10px 0 0; padding:0 0 0 10px; position:relative;}
footer .footer_wrap .footer_area .copyright .copy_list .copy_item:first-child{padding:0;}
footer .footer_wrap .footer_area .copyright .copy_list .copy_item:before{content:''; display:block; width:1px; height:12px; background:#e4e8eb; position:absolute; left:0; top:3px;}
footer .footer_wrap .footer_area .copyright .copy_list .copy_item:first-child:before{display:none;}
footer .footer_wrap .footer_area .copyright .copy_list .copy_item .item{display:block; font-size:12px; color:grey; text-decoration:none;}
footer .footer_wrap .footer_area .copyright .copy_list .copy_item .item:hover{text-decoration:underline;}
footer .footer_wrap .footer_area .copyright .copy_list .copy_item .item.bold{font-weight:700;}
footer .footer_wrap .footer_area .copyright .copy_list .copy_item:last-child .item.bold{color:#202020;}
